################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FizzBuzz/.vs/FizzBuzz/v15/Server/sqlite3
